---
layout: default
---

 <div class="box">
    <span><a href="https://hao.ink/page/lianzi/lianzi_index.html">🖊️练书法</a> <a href="https://hao.ink/page/zuopin.html">🔖作品集</a> </span>
    <span><a href="https://hao.ink/page/friends.html">🔗友链</a> <a href="https://hao.ink/feed.xml">📪RSS订阅</a> <a href="https://hao.ink/page/comments.html">📓留言</a> </a> <a href="https://hao.ink/page/sentences.html">🧡收藏</a> <a href="https://hao.ink/page/travel.html">✈️足迹</a> <a href="https://www.foreverblog.cn/go.html">🌌虫洞</a>  <a href=" https://travellings.link/">🚇开往</a>    <a href="https://hao.ink/page/about.html">😃关于</a> </span>
</div>

<h4>欢迎来到我的博客。好(hǎo)墨，练好字；好(hào)墨，写好文。随便看看吧 ♡ ´･ᴗ･ `♡ </h4> 

<ul class="posts">
	{% for post in paginator.posts %}
	  	<li>
	  		<small>{{ post.date | date_to_string }}</small>
	  		<a href="{{ post.url }}">{{ post.title }}</a>
	  	</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="btn">
			&laquo; 上一页
		</a>
	{% else %}
		<a href="javascript:;" class="btn">&laquo; 上一页</a>
	{% endif %}

	<!-- {% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
    	<li class="active">
     		<a href="javascript:;">{{ page }}</a>
     	</li>
	    {% elsif page == 1 %}
      	<li>
      		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      			{{ page }}
      		</a>
      	</li>
	      </li>
	    {% else %}
    	<li>
      		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
      			{{ page }}
      		</a>
      	</li>
	    {% endif %}
	{% endfor %} -->

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="btn">
			下一页 &raquo;
		</a>
	{% else %}
		<a href="javascript:;" class="btn">下一页 &raquo;</a>
	{% endif %}
{% endif %}

<p></p> 

<div class="imgWrapper">
    <img src="/assets/2022_05_13.jpg" style="max-width: 100%">
</div>




