---
layout: default
---





<!-- 计算网站运行时间 -->
<span style="font-size:12px;"><script language=JavaScript> 
 function secondToDate(second) {
     if (!second) {
        return 0;
     }

 var time = new Array(0, 0, 0, 0, 0);

 if (second >= 365 * 24 * 3600) {
     time[0] = parseInt(second / (365 * 24 * 3600));
     second %= 365 * 24 * 3600;
 }  

 if (second >= 24 * 3600) {
     time[1] = parseInt(second / (24 * 3600));
     second %= 24 * 3600;
 }

 if (second >= 3600) {
     time[2] = parseInt(second / 3600);
     second %= 3600;
 }

 if (second >= 60) {
     time[3] = parseInt(second / 60);
     second %= 60;
 }

 if (second > 0) {
     time[4] = second;
 }
    return time;
}
</script>

<!-- 动态显示网站运行时间 -->
<script type="text/javascript" language="javascript">
    function setTime() {
        var create_time = Math.round(new Date(Date.UTC(2018, 05, 05, 0, 0, 0)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = '本站已安全运行' + currentTime[0] + '年' + currentTime[1] + '天' + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4] + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script></span>













{% assign count = 0 %}
{% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count = count | plus: single_count %}
{% endfor %}

{% if count > 10000 %}
    {{ count | divided_by: 10000 }} 万 {{ count | modulo: 10000 }}
{% else %}
    {{ count }}
{% endif %} 


<h3>全部文章</h3>

<ul class="posts">
	{% for post in paginator.posts %}
	  	<li>
	  		<small>{{ post.date | date_to_string }}</small>
	  		<a href="{{ post.url }}">{{ post.title }}</a>
	  	</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="btn">
			&laquo; 上一页
		</a>
	{% else %}
		<a href="javascript:;" class="btn">&laquo; 上一页</a>
	{% endif %}

	<!-- {% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
    	<li class="active">
     		<a href="javascript:;">{{ page }}</a>
     	</li>
	    {% elsif page == 1 %}
      	<li>
      		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      			{{ page }}
      		</a>
      	</li>
	      </li>
	    {% else %}
    	<li>
      		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
      			{{ page }}
      		</a>
      	</li>
	    {% endif %}
	{% endfor %} -->

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="btn">
			下一页 &raquo;
		</a>
	{% else %}
		<a href="javascript:;" class="btn">下一页 &raquo;</a>
	{% endif %}
{% endif %}




