<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YX76K9MB25"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YX76K9MB25');
</script>

<link rel="shortcut icon" type="image/x-icon" href="/好墨1.png">


<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id: "JgnLVsy4USqzBhmS",ck: "JgnLVsy4USqzBhmS"})</script>
