<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      
      
      
 <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <a href="https://hao.ink"><img src="https://hao.ink/icon/header.png" style="max-width: 40%" /></a>
           <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1> -->
        </a>
        <!--<h2>{{ site.description | default: site.github.project_tagline }}</h2>  -->
        </a>
      </div>
  
    </header>
      
      
      <section>

      {{ content }}

      </section>
    </div>
  
  
    <footer>
      
      
      
      
      
      
      
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      
      
        <!-- 计算网站运行时间 -->
<span style="font-size:12px;"><script language=JavaScript> 
 function secondToDate(second) {
     
     if (!second) {
        return 0;
     }

 var time = new Array(0, 0, 0, 0, 0);

 if (second >= 365 * 24 * 3600) {
     time[0] = parseInt(second / (365 * 24 * 3600));
     second %= 365 * 24 * 3600;
 }  

 if (second >= 24 * 3600) {
     time[1] = parseInt(second / (24 * 3600));
     second %= 24 * 3600;
 }

 if (second >= 3600) {
     time[2] = parseInt(second / 3600);
     second %= 3600;
 }

 if (second >= 60) {
     time[3] = parseInt(second / 60);
     second %= 60;
 }

 if (second > 0) {
     time[4] = second;
 }
    return time;
}
</script>

<!-- 动态显示网站运行时间 -->
<script type="text/javascript" language="javascript">
    function setTime() {
     
        var create_time = Math.round(new Date(Date.UTC(2018, 09, 05, 0, 0, 0)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = '本站已运行' + currentTime[0] + '年' + currentTime[1] + '天' + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4] + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script></span>
        
        
      
      
      
      
      
      
      <p>
        
          <a href="https://hao.ink/archive">archive</a> / <a href="https://hao.ink/novels">novels</a> / <a href="https://hao.ink/notes">notes</a> 
        <br>
        
        {% assign count = 0 %}
  {% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count = count | plus: single_count %}
{% endfor %}

{% if count > 10000 %}
    文章字数统计: {{ count | divided_by: 10000 }} 万 {{ count | modulo: 10000 }} 字
{% else %}
    文章字数统计: {{ count }} 字
{% endif %} 
        
        | <span id="htmer_time"></span>
        
        
        
        
        
        
        
        
      
        
        
        
        <br>©好墨HaoInk-夏和帆的博客 2018-2022 | <a href="https://github.com/icecrystals/icecrystals.github.io">管理员登录</a> | <a href="https://v6.51.la/user/application">网站统计</a>  
        
      
      </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
